[package]
name = "wolfssl-sys"
version = "1.1.0"
edition = "2021"
authors = ["lightway-developers@expressvpn.com"]
license = "GPL-2.0"
readme = "README.md"
description = "System bindings for WolfSSL"
repository = "https://github.com/expressvpn/wolfssl-rs"
keywords = ["wolfssl", "vpn", "lightway", "post-quantum", "cryptography"]
links = "wolfssl"
exclude = ["wolfssl-src/**/*.pdf"] # crates.io has a size limit for publishing. Exclude unused files to keep the size under the limit.

[build-dependencies]
bindgen = "0.69"
autotools = "0.2"
build-target = "0.4.0"

[dependencies.oqs-sys]
version = "0.9.1"
default-features = false
features = ["kems", "sigs"]
optional = true

[features]
default = []
debug = []
postquantum = ["dep:oqs-sys"]


[package.metadata.cargo-all-features]
# Not an actual feature
denylist = ["oqs-sys"]

[[example]]
name = "connect_pq"
required-features = ["postquantum"]
